:root {
  --icon-color: #afb1b8;
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-background: #2f303a;
  --teem-background: #f5f4fa;
  --rgba: rgba(255, 255, 255, 0.6);
  --main-white-color: #ffffff;
  --part-logo: #000000;
}

body {
  color: var(--primery-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .conteiner {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header-div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  background-color: var(--main-white-color);
}
@media screen and (max-width: 1199px) {
  .header-div {
    justify-content: space-between;
  }
}

.logo {
  color: var(--accent-color);
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  text-decoration: none;
}
.logo__part {
  color: var(--part-logo);
}
.logo__part-footer {
  color: var(--main-white-color);
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.header__logo {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo__footer {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 28px;
  content: "";
  display: inline-block;
  border-radius: 4px;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}

.contacts__contact {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts__contact:hover, .contacts__contact:focus, .contacts__contact:hover .contacts__icon, .contacts__contact:focus .contacts__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--primery-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    margin-left: auto;
  }

  .contacts__go-to + .contacts__go-to {
    margin-left: 50px;
  }
}
.mob-conteiner {
  padding: 48px 0 48px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-mob-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
.menu-mob-btn:hover .mob-icon, .menu-mob-btn:focus .mob-icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-mob-btn {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--main-white-color);
  width: 100%;
  height: 100vh;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-nav__item {
  margin-bottom: 32px;
}
.mob-nav__item:last-child {
  margin-bottom: 0;
}

.mob-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.mob-btn-close:hover .close-icon, .mob-btn-close:focus .close-icon {
  fill: var(--accent-color);
}

.mob-nav__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--accent-color);
}

.mob-nav__link--current {
  color: var(--accent-color);
}

.mob-btn-close:hover ~ .mob-nav .mob-nav__link--current,
.mob-btn-close:focus ~ .mob-nav .mob-nav__link--current {
  color: var(--title-text-color);
}

.mob__contacttell {
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 32px;
}

.mob__contactmail {
  display: block;
  text-decoration: none;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mob-soc {
  list-style: none;
  display: flex;
}

.mob-soc-item:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.mob-soc-item + .mob-soc-item {
  margin-left: 10px;
}

.mob-soc-link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}

.hero {
  background-color: var(--secondary-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 60px;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg-tab.jpg);
    max-width: 768px;
    padding: 118px 204px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg-tab-x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg.jpg);
    max-width: 1600px;
    padding: 200px 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg-x2.jpg);
  }
}
.hero__title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}

.quality {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .quality {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .aspect {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .aspect {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
  }
}

.aspect__icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--teem-background);
  border-radius: 4px;
  max-width: 450px;
  height: 120px;
}
@media screen and (min-width: 1200px) {
  .aspect__icon {
    width: 270px;
  }
}

.aspect__item + .aspect__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .aspect__item {
    width: calc((100% - 30px) / 2);
  }
  .aspect__item + .aspect__item {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .aspect__item {
    width: 270px;
  }
  .aspect__item + .aspect__item {
    margin-left: 30px;
  }
}

.aspect__title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .aspect__title {
    text-align: unset;
  }
}

.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about {
  padding-bottom: 94px;
}

.about__title {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.photo-about {
  display: flex;
  justify-content: center;
}

.photo-about__item {
  position: relative;
}
.photo-about__item + .photo-about__item {
  margin-left: 30px;
}

.photo-about__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--main-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.teem {
  background-color: var(--teem-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.teem__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .teem__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .teem {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.members-photo__conteiner {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .members-photo__conteiner {
    padding-bottom: 30px;
  }
}
.members-photo__name {
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.members-photo__job {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .members-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .members-photo {
    flex-wrap: nowrap;
    gap: unset;
    justify-content: center;
  }
}

.members-photo__item {
  border: 1px;
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members-photo__item + .members-photo__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .members-photo__item {
    width: calc((100% - 30px) / 2);
  }
  .members-photo__item + .members-photo__item {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .members-photo__item {
    width: 270px;
  }
  .members-photo__item + .members-photo__item {
    margin-left: 30px;
  }
}

.members-photo__social-list {
  margin-top: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus, .social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  background-color: var(--accent-color);
  fill: var(--main-white-color);
}

.social-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companys {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .companys {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.companys__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .companys__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.companys__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .companys__list {
    margin-top: 50px;
    flex-wrap: nowrap;
  }
}

.companys__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .companys__item {
    width: calc((100% - 60px) / 3);
  }
}

.companys__link {
  text-align: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.companys__link:hover, .companys__link:focus, .companys__link:hover .companys__icon, .companys__link:focus .companys__icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.companys__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--secondary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer .conteiner {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .conteiner {
    flex-direction: unset;
    flex-wrap: nowrap;
    align-items: unset;
    gap: unset;
  }
}

.footer-contact-conteiner {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-contact-conteiner {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact-conteiner {
    flex-grow: 0;
    text-align: unset;
    margin-right: 70px;
  }
}

.address {
  color: var(--main-white-color);
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 9px;
  }
}

.footer-contacts__item {
  margin-bottom: 8px;
}
.footer-contacts__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__item {
    margin-bottom: 9px;
  }
}

.footer-contacts__contact {
  color: var(--rgba);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__contact:hover, .footer-contacts__contact:focus {
  color: var(--accent-color);
}

.footer-social {
  margin: 60px 0 96px 0;
}
@media screen and (min-width: 768px) {
  .footer-social {
    margin: 0;
    flex-grow: 1;
  }
}

.footer-social__title {
  margin-bottom: 20px;
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.social-footer {
  display: flex;
}
.social-footer__icon {
  fill: var(--main-white-color);
}
@media screen and (min-width: 768px) {
  .social-footer {
    justify-content: center;
  }
}

.social-footer__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-footer__item:last-child {
  margin-right: 0;
}

.social-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    align-items: flex-end;
    gap: unset;
    margin-left: auto;
    width: 570px;
    height: 86px;
  }
}

.footer-input-fild {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-input-fild {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input-fild {
    max-width: unset;
    display: inline-block;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-input:focus {
  outline: none;
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-label {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
@media screen and (min-width: 1200px) {
  .footer-label {
    left: 0;
    transform: translate(0);
  }
}

.footer-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
}

.footer-button-icon {
  margin-left: 10px;
}

.filter {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .buttons {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .buttons {
    margin-bottom: 50px;
  }
}
.buttons .button {
  background-color: var(--teem-background);
  color: var(--title-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}
.buttons .button:hover, .buttons .button:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__item {
  flex-basis: calc(100% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.portfolio__link {
  text-decoration: none;
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus, .portfolio__link:hover .portfolio__description, .portfolio__link:focus .portfolio__description {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio__description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  height: 100%;
}

.portfolio__text {
  padding: 20px 24px;
  background: var(--main-white-color);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .portfolio__text {
    flex-grow: 1;
  }
}

.portfolio__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__example {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:focus,
.close-button:hover {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  padding: 40px;
  min-width: 450px;
  max-height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.name-fild {
  position: relative;
}

.icon-form-name,
.icon-form-tel,
.icon-form-email {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.name,
.tel,
.email {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name:focus,
.tel:focus,
.email:focus,
.textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.name:focus ~ .icon-form-name,
.tel:focus ~ .icon-form-tel,
.email:focus ~ .icon-form-email {
  fill: var(--accent-color);
}

.tel-fild {
  position: relative;
  margin-top: 28px;
}

.tel-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.email-fild {
  position: relative;
  margin-top: 28px;
}

.email-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.text-fild {
  position: relative;
  margin-top: 28px;
}

.text-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-fild {
  margin-top: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-label::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  border: 2px solid transparent;
  border-radius: 2px;
  background-image: url(../images/Vector-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox:focus + .checkbox-label::before {
  border-color: var(--accent-color);
}

.form-link {
  margin-left: 5px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .form-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */