.quality {
  padding-top: 94px;
  padding-bottom: 94px;
}

.aspect {
  display: flex;
}

.aspect__icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--teem-background);
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.aspect__item {
  width: 270px;
  & + & {
    margin-left: 30px;
  }
}

.aspect__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
