.footer-form {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  width: 570px;
  height: 86px;
}

.footer-input-fild {
  position: relative;
  display: inline-block;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}

.footer-label {
  position: absolute;
  top: -35px;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
