.footer-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
}

.footer-button-icon {
  margin-left: 10px;
}
