// .header {
//   background-color: var(--main-white-color);
//   border-bottom: 1px solid #ececec;
// }
.header-div {
  @media screen and (max-width: 1199px) {
    justify-content: space-between;
  }
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  background-color: var(--main-white-color);
}
