// .header {
//   background-color: var(--main-white-color);
//   border-bottom: 1px solid #ececec;
// }
.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  background-color: var(--main-white-color);
}
