.mob__contacttell {
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 32px;
}

.mob__contactmail {
  display: block;
  text-decoration: none;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mob-soc {
  list-style: none;
  display: flex;
}

.mob-soc-item:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.mob-soc-item + .mob-soc-item {
  margin-left: 10px;
}

.mob-soc-link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
}
