.site-nav {
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 28px;
    content: "";
    display: inline-block;
    border-radius: 4px;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
  }
}
